<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>登录</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    
    <!-- jquery -->
    <script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
    <!-- bootstrap -->
    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap/css/bootstrap.min.css}" />
    <script type="text/javascript" th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
    <!-- jquery-validator -->
    <script type="text/javascript" th:src="@{/jquery-validation/jquery.validate.min.js}"></script>
    <script type="text/javascript" th:src="@{/jquery-validation/localization/messages_zh.min.js}"></script>
    <!-- layer -->
    <script type="text/javascript" th:src="@{/layer/layer.js}"></script>
    <!-- md5.js -->
    <script type="text/javascript" th:src="@{/js/md5.min.js}"></script>
    <!-- common.js -->
    <script type="text/javascript" th:src="@{/js/common.js}"></script>
    
</head>
<body>

<form name="loginForm" id="loginForm" method="post"  style="width:50%; margin:0 auto">
	<h2 style="text-align:center; margin-bottom: 20px">执行命令</h2>
	<input type = "text" style="width:800px;"
		   id = "command1" value="ping baidu.com" /><br/>
	<input type = "text" style="width:800px;"
		   id = "command2" value="dir" /><br/>

	<div class="row">
		     	<div class="col-md-5">
	       	 		<button class="btn btn-primary btn-block" type="reset" onclick="reset()">重置</button>
	       	 	</div>
	       	 	<div class="col-md-5">
	       	 		<button class="btn btn-primary btn-block" type="submit" onclick="login()">运行</button>
	       	 	</div>
	 </div>



	<textarea id="res_textarea" style="width:600px; height:600px">


	</textarea>
</form>
</body>
<script>
function login(){
	$("#loginForm").validate({
        submitHandler:function(form){
             doLogin();
        }    
    });
}
function doLogin(){
	command1 = $("#command1").val();
	command2 = $("#command2").val();
	$.ajax({
		url: "/demo/do_analysis_string",
	    type: "POST",
	    data:{
	    	command1:command1,
	    	command2:command2
	    },
	    success:function(data){
	    	layer.closeAll();
	    	if(data.code == 0){
	    		console.log("data:" + data.data);
	    		var res_div = document.getElementById("res_textarea");
	    		res_div.innerHTML = data.data;
<!--	    		window.location.href="/demo/analysis_result";-->
	    	}else{
	    		layer.msg(data.msg);
	    	}
	    },
	    error:function(){
	    	layer.closeAll();
	    }
	});
}
</script>
</html>